.mat-input-container {
    display: block
}
.item { 
 display: inline-block;
}
.button-row {
 display: inline-block;
 float: right;

}
.text-padding{
    padding-left: 30px;
}
md-list{
    max-height: 361px;
    display: block;
    overflow: auto;
}
h1{
    color: white;
}
.outer-md-card{
    max-width: 50%;
    margin:auto;
   max-height: calc(100vh - 90px);
   display: inline-block;
}
.logout-btn {
    margin-left: 92%;
    margin-top: 1%;
    color: white;
}
.title-name{
   color: #69f0ae;
}
.tag-list-card{
        display: inline-block;
    float: left;
    margin-top: 10%;
    margin-right: 2%;
}
.container-cards{
    margin-left: 25%;
}
.tag-btn {
        margin-left: 9%;
        cursor: default;
}