.init-view {
    margin-top: 15%;
        position: absolute;
    margin-left: 25%;
        width: 50%;
background-color: #686868;
    h1 {
text-align: center;
}
a {
    display: block;
   text-align: center;
   margin-top: 5%;
}
}
