.init-login-view {
    margin-top: 15%;
    position: absolute;
    margin-left: 25%;
    width: 50%;
    background-color: #686868;
    md-input-container {
        display: block;
        margin-top: 10%;
    }
    button {
        margin-top: 10%;
    }
}
