<md-list-item >
          <md-card md-line>
            <md-card-content>
              <md-checkbox class="item" [(ngModel)]="task.status" (ngModelChange)=taskStatusUpdate(task)></md-checkbox>
              <p class="item text-padding">{{task.description}}</p>
              <div class="button-row">
                <button class="item" md-mini-fab (click)=deleteTask(task)><md-icon>delete</md-icon></button>
              </div>
              <div>
                <div>
                   <tag-input [(ngModel)]="task.tag" (ngModelChange)=taskStatusUpdate(task) [modelAsStrings]="true" [inputClass]="tag-chip-input" [onlyFromAutocomplete]="true">
                    <tag-input-dropdown  class="tag-chip-input" [autocompleteItems]="tags" [showDropdownIfEmpty]="true">
                    </tag-input-dropdown>
                  </tag-input> 
                </div>
              </div>
            </md-card-content>
          </md-card>
        </md-list-item>
