.item { 
    display: inline-block;
}
.button-row {
    display: inline-block;
    float: right;
}
md-list{
    height: 234px;
    display: block;
    overflow: auto;
}
.text-padding{
    padding-left: 30px;
}