.init-register-view {
    margin-top: 3%;
        position: absolute;
    margin-left: 25%;
        width: 50%;
background-color: #686868;
md-input-container {
    display: block;
    margin-top: 5%;
}
button {
    margin-top: 5%;
}
}
