.mat-input-container {
    display: block
}

h1{
    color: white;
}
.outer-md-card{
    max-width: 50%;
    margin:auto;
    max-height: calc(100vh - 90px);
    display: inline-block;
}
.title-name{
   color: #69f0ae;
}
.tag-list-card{
    display: inline-block;
    float: left;
    margin-top: 10%;
    margin-right: 2%;
}
.container-cards{
    margin-left: 25%;
    margin-top: 5%
}
.tag-btn {
    margin-left: 9%;
    cursor: default;
}
.tag-select{
    width: 100%;
}
.select-tag-menu-item{
    color: #69f0ae ;
   // background: #303030 ;
}
.tag-cursor{
    cursor:pointer;
}
.text-center{
    margin-top: 25%;
    margin-left: 25%;
}
    .tag-chip-input{
    background: #424242;

}
